[user]
	name = Prajwal Tuladhar
	email = praj@infynyxx.com

[core]
	editor = /usr/bin/vim
	excludesfile = /Users/praj/.gitignore_global

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
